<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <application
        android:name=".AllToDoApplication"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AllToDo"
        tools:targetApi="31">
        
        <!-- Kakao Map App Key -->
        <meta-data
            android:name="com.kakao.vectormap.APP_KEY"
            android:value="73c078184e5277946f8078004f60bd51" />
            
        <!-- Naver Map Client ID -->
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="i7652syq10" />

        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCeE1yauStrXS0Xw6EUkUEgm5wFK_yBHcE" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AllToDo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
